@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }
  
  .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  
  .header {
    grid-area: header;
    background-color: #D1F2EB;
  }
  
  .aside {
    grid-area: aside;
    background-color: #D1F2EB;
  }

  .article {
      grid-area: article;
      background-color: #FBFCFC;
  }
  
  .section {
    grid-area: section;
    background-color: #D1F2EB ;
  }
  
  .footer {
    grid-area: footer;
    background-color: #FBFCFC;
  }

  .nav {
    grid-area: nav;
    background-color: #FBFCFC;
    margin: 2px;
  }

  .head {
    grid-area: head;
    background-color: slategrey;
  }
  
    .grid-container {
      display: grid;
      gap: 10px;
      grid-template:
        "header  header" 100px
        "section  aside" auto 
        "footer  footer" 60px/
         600px   auto;
    }

